@import "_variables.scss";
/**/

#ourWorks {
    /* Z-index nécessaire car la section passait au-dessus de la section du dessus. */
    z-index: 0;

    .imageWorks {
        display: block;
        width: 100%;
        height: auto;
    }

    .ourWorksDetails {
        position: absolute;
        top: 100px;
    }

    .overlay {
        display: block;
        position: absolute;
        background-color: $reddish;
        top: 0;
        left: 0;
        height: 203px;
        width: 270px;
        opacity: 0;

        & p {
            margin: auto;
            color: $reddish;
            font-family: "Lato Black";
            font-weight: 900;
            font-size: 3em;
            text-align: center;
            background-color: white;
            margin-top: 76px;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            padding: 0;
            /* Nécessaire pour centrer la croix */
            line-height: 50px;
        }

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }


    }

    .projectTitle {
        color: white;
        text-align: center;
        text-transform: capitalize;
        padding-top: 50px;
    }

    .thumbnail {
        /* 21% obtenu par tatonnement */
        flex: 1 0 21%;
        position: relative;
    }

    .image-grid {
        display: block;
        max-width: 1100px;
        margin: auto;
    }

    .image-grid-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
}

/* Ajustement responsive */
@media screen and (max-width: 760px) {
    p {
        width: 80%;
    }

    .image-grid-row {
        padding-left: 15px;
    }
}
